body{
  color: #737373;
  background-color: #F7F7F7;
}
a{color: #737373;}
a:hover{color: #A2A2A2;}
#hAbout{color: #0F0F0F;}
#hResume{color: #0F0F0F;}
#hSkills{color: #0F0F0F;}
#hProjects{color: #0F0F0F;}
h2{color: #3A3A3A}
#butTheme, .divDropdown > a{
  color: #F7F7F7;
  background-color: #737373;
}
.divDropdown > a:hover{
  color: #A2A2A2;
}
