body{
  color: #FFFFFF;
  background-color: #FFFFFF;
}
a{color: #FFFFFF;}
a:hover{color: #A2A2A2;}
#hAbout{color: #FFFFFF;}
#hSkills{color: #FFFFFF;}
#hProjects{color: #FFFFFF;}
h2{color: #FFFFFF}
#butTheme, .divDropdown > a{
  color: #FFFFFF;
  background-color: #737373;
}
.divDropdown > a:hover{
  color: #A2A2A2;
}
