body{
  color: #839496;
  background-color: #FDF6E3;
}
a{color: #839496;}
a:hover{color: #268BD2;}
#hAbout{color: #859900;}
#hResume{color: #DC322F}
#hSkills{color: #CB4B16;}
#hProjects{color: #6C71C4;}
h2{color: #D33682}
#butTheme, .divDropdown > a{
  color: #839496;
  background-color: #002B36;
}
.divDropdown > a:hover{
  color: #2AA198;
}
